**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
/ProjectBritishCouncil/build/
/ProjectBritishCouncil/nbbuild/
/ProjectBritishCouncil/dist/
/ProjectBritishCouncil/nbdist/
/ProjectBritishCouncil/.nb-gradle/
/ProjectBritishCouncil/nbproject/*
!/ProjectBritishCouncil/nbproject/project.properties
!/ProjectBritishCouncil/nbproject/project.xml
