**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
ProjectBritishCouncil/build/
ProjectBritishCouncil/nbbuild/
ProjectBritishCouncil/dist/
ProjectBritishCouncil/nbdist/
ProjectBritishCouncil/.nb-gradle/

# don't update this folder
ProjectBritishCouncil/nbproject/*

# but do update these two files in that folder
# nvm, version mismatches are causing corruption, now we will rely on everyone having their own nbproject folder
#!ProjectBritishCouncil/nbproject/project.properties
#!ProjectBritishCouncil/nbproject/project.xml
