#topbarimagePriCand{
    -fx-background-image: url("red.jpg");
    -fx-background-repeat: repeat; 
    -fx-background-position: top left;
    -fx-background-size: auto 85%;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.1, 0, 0); 
}
/*//////////////////////////////////////////*/

#centerWizardAnchorpanePriCand{
    -fx-background-color: #DEDEDE;
}

#topbarWizardHBoxPriCand{
    -fx-background-color: #fff5f0;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.05, -10, 0); 
}

#leftbarWizardHBoxPriCand{
    -fx-background-color: #fff5f0;
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0, 0.0, 20); 
    
}

