#topbarimageLibrarian{
    -fx-background-image: url("blue.jpg");
    -fx-background-repeat: repeat; 
    -fx-background-position: top left;
    -fx-background-size: auto 85%;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.1, 0, 0); 
}